@import "../_variables.scss";
.recent-log-table {
  overflow-x: scroll;
  background-color: white;
  .table {
    padding: 5px;
    width: 100%;
  }
  .table-head {
    background-color: $primary-darkslate;
    color: white;
    font-family: "Open Sans", sans-serif;
    padding: 5px;
    font-size: 14px;
    text-align: left;
  }
  .table-data {
    padding: 10px 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
  }
  .table-row:nth-child(odd) {
    background-color: #e0e0e0;
  }
}
