@import "../variables";

.sidebar {
  grid-area: 1 / 1 / 6 / 2;
  min-width: 200px;
  height: 100vh;
  background-color: $primary-darkslate;
  .brand {
    background-color: $primary-blue;
    height: 50px;
    display: flex;
    align-items: center;
    h3 {
      padding: 10px;
      color: white;
      font-size: $primary-fontsize;
      font-family: $primary-font;
    }
  }
  .bar-content {
    padding: 10px;
    .wrapper {
      h3 {
        color: $primary-gray;
        font-family: $primary-font;
        font-size: $primary-fontsize;
        margin: 15px 0px 5px 0px;
      }
    }
    #dashboard-route {
      padding: 25px 0px;
      * {
        color: white;
      }
    }
  }
  .minimize {
    width: 100%;
    text-align: center;
    button {
      width: 100%;
      height: 50px;
      cursor: pointer;
      outline: none;
      background-color: $primary-darkslate;
      color: white;
      border: solid $primary-darkslate 1px;
      transition-duration: 0.3s;
      &:hover {
        background-color: #2f353b;
      }
    }
  }
}
.route {
  width: 100%;
  padding: 12px 0px 12px 0px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  color: $primary-gray;
  text-decoration: none;
  font-family: $primary-font;
  font-size: $primary-fontsize;

  div {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .icon {
    color: $primary-gray;
    width: 20px;
  }
  .arrow {
    color: $primary-gray;
    font-size: 10px;
  }
  &:hover {
    * {
      transition-duration: 0.3s;
      color: white;
    }
  }
}
.minimized {
  min-width: 75px;
  .brand {
    justify-content: center;
  }
  .wrapper {
    h3 {
      display: none;
    }
  }
  .route {
    justify-content:center;
    .icon {
      height: 20px;
    }
    p {
      display: none;
    }
    .arrow {
      display: none;
    }
  }
}
