// imports
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Colors
$primary-darkslate: #212529;
$primary-blue: #246ea7;
$primary-gray: #747f8f;
// Fonts
$primary-fontsize: 14px;
$primary-font: 'Open Sans', sans-serif;
