@import "../styles/_variables";
body {
  background-color: $primary-background;
}

.App {
  display: flex;
  /*grid-template-rows: 50px repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;*/
  .content {
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    &:-webkit-scrollbar {
      display: none;
    }
    .data {
      padding: 10px;
      .summaries {
        padding:5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
        @media screen and (max-width: 1100px) {
          gap: 10px;
          display: grid;
          grid-template-rows:80px 80px;
          grid-template-columns: 1fr 1fr;
          justify-items: center;
        }
      }
      .statistics {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 20px;
        .graphs {
          width: 100%;
          display: flex;
          flex-direction: row;
          gap: 10px;
          @media screen and (max-width: 800px) {
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }
}

/*RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;

  &:before,
  &:after {
    content: "";
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea,
input,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
button {
  &:focus {
    box-shadow: none;
    outline: 0;
  }
}
/*RESET*/
